<script>window.googleJavaScriptRedirect=1</script><META name="referrer" content="origin"><script>var n={navigateTo:function(b,a,d){if(b!=a&&b.google){if(b.google.r){b.google.r=0;b.location.href=d;a.location.replace("about:blank");}}else{a.location.replace(d);}}};n.navigateTo(window.parent,window,"http://homepages.dcc.ufmg.br/~cunha/teaching/20121/aeds2/lists.pdf");
</script><noscript><META http-equiv="refresh" content="0;URL='http://homepages.dcc.ufmg.br/~cunha/teaching/20121/aeds2/lists.pdf'"></noscript>